<style>
    .following {
       text-align: left;
       padding: 20px;
    }
    
</style>
<h3>Followers</h3>
    
<% @follower.each do |f| %>
    <div class='following'><%= gravatar_for f,  size: 40 %><h3><%= link_to f.name, f %></h3><%= f.profile %><br></div>
<% end %> 